header>h1{
    text-align:center;
    font-size: 65px;
}
header>h2{
    text-align: center;
    font-size: 30px;
}
body>fieldset>nav{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    
}
body>fieldset{
    border-radius: 10px 10px 10px 10px;
}
body{
    background-color:lightblue;
}

a{
    color: brown;
}
.contenedor{
    display: flex;
}
.discos{
    padding-right: 2%;
}
